[submodule "docker-elk"]
	path = docker-elk
	url = git@github.com:yayayahei/docker-elk.git
[submodule "docker-elk-test/go-filebeat-elastic"]
	path = docker-elk-test/go-filebeat-elastic
	url = git@github.com:alcbotta/go-filebeat-elastic.git
